#navbar{
    height: 80px;
    flex-shrink: 0;
    color: #37517e;;
}

.body{
    background-color: #37517e;
}

#register{
    border:solid thin #00b9ff;
    color: #00b9ff;
    border-radius: 0;
}

#register:hover{
    background-color: #00b9ff;
    color: white
}